  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    background-image: url("/static/runner_final_small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
  }

  .navbar-homepage {
    background: transparent;
    border: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
  }

  .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    line-height: 50px;

  }

  .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
    color: #ED8429;
  }

  label {
    color: #181c1c;
    margin-left: 20px;
  }

  #planning-form {
    text-align: center;
  }

  .run-planner {
    text-align: center;
    font-size: 24px;
    color: #3D4046;
    font-family: 'Raleway', sans-serif;
  }

  .input-field {
    color: #3D4046;
    margin-left: 20px;
    width: 300px; 
    height: 30px;
    font-family: 'Raleway', sans-serif;
  }

  .questions {
    background-color: rgba(212, 213, 200, 0.7);
    text-align: center;
  }

  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }
  
  .modalDialog > div {
    width: 390px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #F6F6F4;
    color: #3D4046;
  }

 .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { 
    background: #00d9ff; 
  }

  select, option { 
    width: 220px; 
    height: 30px;
    background: #F6F6F4;
    background-color: rgba(212, 213, 200, 0.7);
    font-family: 'Raleway', sans-serif;
    color: #3D4046;
    font-weight: bold;
  }

  .homepage-button {
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #FF6600;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    white-space: normal;
  }

  #goal-date {
    background: #F6F6F4;
    background-color: rgba(212, 213, 200, 0.7);
    height: 30px;
  }

  .patterned {
    background-image: url("/static/crossword.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
  }

  .week-number{
    background-color: #9C9F97;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100px;
    font-family: 'Raleway', sans-serif;
  }

  .run-event {
    font-size: 1em;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    color: #3D4046;
  }

  .distance {
    text-align: center;
    font-size: 2em;
    padding-bottom: 5px;
  }
  
  table {
    background-color: #F6F6F4;
    max-width: none;
    margin-top: 25px;
    padding: 0px;
    word-wrap: break-word;
    border-color: transparent;
    overflow: scroll;
  }

  .col-lg-10 {
    padding: 0px;
  }

  #download-to-excel{
    margin: 10px;
    width: 160px;
    background-color: #458378;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    white-space: normal;
  }
  
  #sign-up {
    margin: 5px;
    width: 160px;
    background-color: #458378;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    white-space: normal;
  }

  .glyphicon {
    color: #458378;
  }

  #forgot-password {
    color: #005546;
  }

  #remember-me {
    margin-left: 20px;
  }

  .workout {
    background-color: #cccccc;
  }

  .off-day {
    color: #cccccc;
  }
