<!doctype html>
<html>
<head>
  <title>{%block title%} {% endblock %}</title>
  <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous">
    </script>

  <link rel='stylesheet' href='/static/fullcalendar-3.3.0/fullcalendar.css' />
  <script src='/static/fullcalendar-3.3.0/lib/jquery.min.js'></script>
  <script src='/static/fullcalendar-3.3.0/lib/moment.min.js'></script>
  <script src='/static/fullcalendar-3.3.0/fullcalendar.js'></script>
  <script src="static/run_plan.js"></script>

<!--   <style>
  .off-day {
    background-color: #D3D3D3;
  }
</style> -->
</head>

<body>
  <h1>Holmes Run</h1>
   <h3>runner tested. runner approved.</h3>
    <ul>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
  <hr>
  
  {% block content %} put your content here {% endblock %}

</body>
</html>