{% extends 'base.html' %}
{% block title %}Run Holmes{% endblock %}
{% block content %}

<style>

/*  body {
      background-size: 50% 50%;
      /*width: 300px;
      height: 300px;*/
      /*background: url("/static/runner_final_small.jpg") no-repeat center center;*/
  /*}*/

  html, body {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/

  }

  body {
    background-image: url("/static/runner_final_small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
  }

  .navbar {
    background: transparent;
    border: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
  }

  .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    color: #fff;
    font-family: 'Raleway', sans-serif;

  }

  .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
    color: #ED8429;
  }

/*  #sign-up {
    color: black;
  }*/

  label {
    color: #181c1c;
    margin-left: 20px;
  }

  #log-in-title {
    color: #181c1c;
    vertical-align: center;
  }

  #planning-form {
    text-align: center;
  }

  .run-holmes {
    text-align: center;
    font-size: 24px;
  }

  .input-field {
    color: #181c1c;
    margin-left: 20px;
    width: 300px; 
    height: 30px;
  }

  .questions {
    background-color: rgba(212, 213, 200, 0.7);
  }

  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }
  .modalDialog > div {
    width: 390px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #F6F6F4;
  }

 .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: #00d9ff; }

  .copyright {
    color: white;
    font-size: 8px;
  }

  select, option { 
    width: 220px; 
    height: 30px;
    background: #F6F6F4;
    background-color: rgba(212, 213, 200, 0.7)
  }

  .homepage-button {
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: white;
    background-color: #005546;
    margin: 20px;
  }

  #goal-date {
    background: #F6F6F4;
    background-color: rgba(212, 213, 200, 0.7);
    height: 30px;
  }

  .patterned {
    background-image: url("/static/crossword.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
  }

  .week-number{
    background-color: #005546;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 80px;
  }

  .run-event {
    height: 50px;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .distance {
    text-align: center;
    font-weight: bold;
  }
  
  table {
    background-color: #F6F6F4;
    margin: 25px;
  }

  #download-to-excel{
    margin: 10px;
    width: 160px;
    background-color: #F7D468;
    color: #181c1c;
    font-weight: bold;
  }
  
  #sign-up {
    margin: 5px;
    width: 160px;
    background-color: #F7D468;
    color: #181c1c;
    font-weight: bold;
  }

  .glyphicon {
    color: #005546;
  }

  #forgot-password {
    color: #005546;
  }

  #remember-me {
    margin-left: 20px;
  }

</style>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Run Holmes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#openLoginModal">Log In</a></li>
            <div id="openLoginModal" class="modalDialog">
              <div>
                <a href="#close" title="Close" class="close">X</a>
                  <!-- <h2 id="log-in-title">Login:</h2><br> -->
                  <br><br>
                  <label class="run-holmes">Run Holmes</label><br><br>
                  <form action="/login-complete" method="POST" id="log-in">
                    <label>Email:</label><br>
                    <input type="email" name="email" class="input-field" required><br><br>
                    <label>Password:</label><br>
                    <input type="password" name="password" class="input-field"required><br><br>
                    <input type="checkbox" id="remember-me"><label>Remember me?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <a href="#" id="forgot-password">Forgot Password?</a>
                    <input type="submit" value="Login" class="btn btn-default homepage-button"> 
                </form>
              </div>
            </div>
      </ul>
    </div>
  </div>
</nav>  


  <br><br><br>
  <div class="container">
    <div class="row">
      <br><br><br><br><br><br><br>
      <div class="col-xs-offset-8 col-xs-4 questions"> 
        <br><br>
        <form id="planning-form">
          <!-- 1. How far can you run today without stopping (or how far is your current long-run)?: -->
            <!-- Current Long Run <br> -->
            <select id="current-ability" name="current-ability" required>
              <option selected disabled value="---">Current Long Run</option>
              <option value="0.5">Less than a mile</option>
              <option selected value="1">1 mile</option>
              {% for distance in distances %}
                <option value="{{ distance }}">{{ distance }} miles</option>
              {% endfor %}
              <option value="26">26+ miles</option>
            </select>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="How far can you run today without stopping? Or what is your long run today?"></span><br><br>
            <!-- Running Goal <br> -->
          <!-- 2. What is your running goal (event or distance)?: -->
            <select id="goal-distance" name="goal-distance" required>
              <option selected disabled value="---">Goal Distance</option>
              <option value="3.1">5K (3.1 miles)</option>
              <option value="5">5 miles</option>
              <option selected value="6.2">10K (6.2 miles)</option>
              <option value="10">10 miles</option>
              <option value="13.1">Half Marathon (13.1 miles)</option>
              <option value="26.2">Marathon (26.2 miles)</option>
            </select>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="What event or distance are you trying to achieve?"></span><br><br>
            <!-- Goal Date <br> -->
          <!-- 3. When will your event/goal take place? -->
            <span>Event Date: </span><input type="date" id="goal-date" value="2017-06-24" name="goal-date" min="{{ today }}" max="{{ yearaway }}">
            <!-- <span>Event Date: </span><input type="date" id="goal-date" name="goal-date" min="{{ today }}" max="{{ yearaway }}"><br><br> -->
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="When will your goal/event take place?"></span>
            <input type="submit" id="generate-plan" name="generate-plan" value="Generate Plan!" class="btn btn-default homepage-button">
        </form>
        <!-- <div class="col-xs-2"> -->
          <button type="submit" id="download-to-excel" name="download-to-excel" class="btn btn-default" hidden>Download as .xlsx</button>
        <!-- </div> -->
        <!-- <div class="col-xs-2"> -->
          <a href="#openModal" id="sign-up" class="btn btn-default" hidden>Save &amp Sign-up</a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
                <br><label class="run-holmes">Run Holmes</label><br><br>
                <form action="/sign-up-complete" method="POST">
                  <label>Email:</label>
                  <input type="email" id="email" name="email" class="input-field" required><br><br>
                  <label>Password:</label>
                  <input type="password" id="password" name="password" class="input-field" required><br><br>
                  <input type="submit" id="sign-up-submit" class="btn btn-default homepage-button"> 
              </form>
            </div>
          </div>
          <!-- </div> -->
      </div>
    </div>
  </div>

  <!-- <form action="/sign-up">
    <input type="submit" id="sign-up-and-save" name="sign-up-and-save" value="Save &amp Sign-up" hidden>
  </form> -->
 <div class="container-fluid patterned">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 table-responsive">   
        <table id="plan-calendar" name="plan-calendar" border="1px" class="table table-bordered" hidden>
          <thead id="plan-header">
            <tr>
              <th class="week-number">Week</th>
              <th class="week-number">Monday</th>
              <th class="week-number">Tuesday</th>
              <th class="week-number">Wednesday</th>
              <th class="week-number">Thursday</th>
              <th class="week-number">Friday</th>
              <th class="week-number">Saturday</th>
              <th class="week-number">Sunday</th>
            </tr>
          </thead>
          <tbody id="run-info-chart">
          </tbody>
        </table>
      </div>
    </div>
  </div>  

<span class="copyright" hidden>Copyright:</span><a href='https://www.123rf.com/profile_magiceyes' class="copyright" hidden>magiceyes / 123RF Stock Photo</a>
  <!-- <div id="calendar" hidden></div> -->

{% endblock %}

{% block javascript %}{% endblock %}