{% extends 'base.html' %}
{% block title %}Run Holmes{% endblock %}
{% block content %}

  <form action="/login-complete" method="POST">
    <label>Email:</label>
      <input type="email" name="email" placeholder="email" required>
    <label>Password:</label>
      <input type="password" name="password" placeholder="password" required>
      <input type="submit" value="Login">
  </form>
  <hr>

  <p>Let's generate your running plan!</p>
  <form action="/plan.json" method="POST" id="planning-form">
    1. How far can you run today without stopping (or how far is your current long-run)?:
      <select id="current-ability" name="current-ability" required>
        <option disabled value="---">---</option>
        <option value="0.5">Less than a mile</option>
        <option selected value="1">1 mile</option>
        {% for distance in distances %}
          <option value="{{ distance }}">{{ distance }} miles</option>
        {% endfor %}
        <option value="26">26+ miles</option>
      </select><br><br>
    2. What is your running goal (event or distance)?:
      <select id="goal-distance" name="goal-distance" required>
        <option selected disabled value="---">---</option>
        <option value="3.1">5K (3.1 miles)</option>
        <option value="5">5 miles</option>
        <option selected value="6.2">10K (6.2 miles)</option>
        <option value="10">10 miles</option>
        <option value="13.1">Half Marathon (13.1 miles)</option>
        <option value="26.2">Marathon (26.2 miles)</option>
      </select><br><br>
    3. When will your event/goal take place?
      <input type="date" id="goal-date" value="2017-06-03" name="goal-date" min="{{ today }}" max="{{ yearaway }}"><br><br>
      <input type="submit" id="generate-plan" name="generate-plan" value="Generate Plan!">
  </form><br>

  <style>
    .modalDialog {
      position: fixed;
      font-family: Arial, Helvetica, sans-serif;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.8);
      z-index: 99999;
      opacity:0;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      pointer-events: none;
    }

    .modalDialog:target {
      opacity:1;
      pointer-events: auto;
    }
    .modalDialog > div {
      width: 400px;
      position: relative;
      margin: 10% auto;
      padding: 5px 20px 13px 20px;
      background: #fff;
    }

   .close {
      background: #606061;
      color: #FFFFFF;
      line-height: 25px;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      -moz-box-shadow: 1px 1px 3px #000;
      -webkit-box-shadow: 1px 1px 3px #000;
      box-shadow: 1px 1px 3px #000;
    }

    .close:hover { background: #00d9ff; }
  </style>

    <a href="#openModal" id="sign-up" hidden>Save &amp Sign-up</a>
    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">X</a>
          <h2>Sign-up:</h2>
          <form action="/sign-up-complete" id="sign-up" method="POST">
            <label>Email:</label>
            <input type="email" name="email" placeholder="email" required><br><br>
            <label>Password:</label>
            <input type="password" name="password" placeholder="password" required><br><br>
            <input type="submit"> 
        </form>
      </div>
    </div>

  <!-- <form action="/sign-up">
    <input type="submit" id="sign-up-and-save" name="sign-up-and-save" value="Save &amp Sign-up" hidden>
  </form> -->

  <button type="submit" id="download-to-excel" name="download-to-excel" hidden>Download as .xlsx</button>
  
  <table id="plan-calendar" name="plan-calendar" border="1px" hidden>
    <thead id="plan-header">
      <tr>
        <th>Week</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody id="run-info-chart">
    </tbody>
  </table>

  <div id="calendar" hidden></div>

{% endblock %}