{% extends 'base.html' %}
{% block title %}Runner Dashboard{% endblock %}
{% block content %}


<div id="runner-id" name="{{ plan.runner_id }}" hidden></div>
<form action="/logout-complete">
    <input type="submit" value="Logout" name="logout-button">
</form>

<style>
    .modalDialog {
      position: fixed;
      font-family: Arial, Helvetica, sans-serif;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.8);
      z-index: 99999;
      opacity:0;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      pointer-events: none;
    }

    .modalDialog:target {
      opacity:1;
      pointer-events: auto;
    }
    .modalDialog > div {
      width: 600px;
      position: relative;
      margin: 5% auto;
      padding: 20px 20px 20px 20px;
      background: #fff;
    }

   .close {
      background: #606061;
      color: #FFFFFF;
      line-height: 25px;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      -moz-box-shadow: 1px 1px 3px #000;
      -webkit-box-shadow: 1px 1px 3px #000;
      box-shadow: 1px 1px 3px #000;
    }

    .close:hover { 
      background: #00d9ff; 
    }

    .workout {
      background-color: #cccccc;
    }

    .off-day {
      color: #cccccc;
    }

    /*td:not(.off-day):hover {
      background-color: #37E8E4;
    }*/

    td.run:hover {
      background-color: #37E8E4;
    }

    .run.completed-run {
      background-color: #C8FFC9;
    }

    .run.incompleted-run.old {
      background-color: #f2cccc;
    }

    .past-event {
      background-color: #cccccc;
    }

    .run.completed-run.incompleted-run {
      background-color: white;
    }

    span.miles {
      font-size: 20px;
    }

   /* .run.incompleted-run {
      background-color: #cccccc;
    }
*/

/*    td.selected {
      background-color: #ffd659;
    }*/

  </style>

    <a href="#openModal" id="account-settings">Accountability Settings</a>
    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">X</a>
          <h2>Accountability Settings</h2>
          <form action="/update-account" id="update-account" method="POST">
          <hr>
          <div>
            <h3>Daily Text Reminders</h3>
              {% if runner.is_subscribed_to_texts %}
                <input type="checkbox" class="opt-text" name="opt-text" checked="checked">
                <label>Update Phone:</label>
                <input type="text" class="phone" name="phone-number" placeholder="{{ runner.phone[2:] }}">
              {% else %}
                <input type="checkbox" class="opt-text" name="opt-text">
                <label>&nbsp I would like to receive text reminders on days that I have a run.</label>
                <input type="text" class="phone" name="phone-number" placeholder="phone number here">
              {% endif %}
          </div>
          <hr>
          <div>
            <h3>Weekly Email Reminders</h3>
              {% if runner.is_subscribed_to_email %}
                <input type="checkbox" class="opt-email" name="opt-email" checked="checked">
              {% else %}
                <input type="checkbox" class="opt-email" name="opt-email">
              {% endif %}
              <label>&nbsp I would like to receive weekly email reminders.</label>
          </div>
          <hr>
          <div>
            <h3>Google Calendar</h3>
            {% if runner.is_using_gCal %}
              <input type="checkbox" class="opt-gcal" name="opt-gcal" checked="checked">
            {% else %}
              <input type="checkbox" class="opt-gcal" name="opt-gcal">
            {% endif %}
            <label>&nbsp I would like to add my runs to my Google Calendar.</label><br>
            <p id="options-below">Don't forget to update your timezone and start time below before clicking save!</p>
            <label>Timezone</label>
            <select id="time-zone" name="time-zone">
              <!-- <option disabled value="None">Select your preferred timezone</option> -->
              <option selected value="{{ runner.timezone }}">{{ runner.timezone }}</option>
              <option value="Pacific/Honolulu">(GMT-10:00) Hawaii Time</option>
              <option value="America/Anchorage">(GMT-08:00) Alaska Time</option>
              <option value="America/Los_Angeles">(GMT-07:00) Pacific Time</option>
              <option value="America/Denver">(GMT-06:00) Mountain Time</option>
              <option value="America/Phoenix">(GMT-07:00) Mountain Time - Arizona</option>
              <option value="America/Chicago">(GMT-05:00) Central Time</option>
              <option value="America/New_York">(GMT-04:00) Eastern Time</option>
            </select><br>
            <label>Start Time</label>
            <select id="cal-run-start-time" name="cal-run-start-time">
              <option selected value="{{ plan.start_time.time() }}">{{ plan.start_time.time() }}</option>
             <!--  <option disabled value="Select your preferred start time">Select your preferred start time</option> -->
              {% for time in times[0:10] %}
                <option value="0{{ time }}:00:00">{{ time }}:00am</option>
              {% endfor %}
              {% for time in times[10:11] %}
                <option value="{{ time }}:00:00">{{ time }}:00am</option>
              {% endfor %}
              <option value="{{ times[11] }}:00:00">{{ times[11] }}:00pm</option>
              {% for time in times[12:23] %}
                <option value="{{ time }}:00:00">{{ time - 12 }}:00pm</option>
              {% endfor %}
              <option value="{{ times[23] }}:00:00">{{ times[23] - 12 }}:00am</option>
            </select>
          </div><hr>
          <input type="submit" value="Save">
        </form>
      </div>
    </div>


<h1 id="dashboard-header">Running Dashboard</h1>

{% if plan %}

<p>Countdown to Goal: {{ days_left_to_goal }} days</p>
<span>Total Workouts Completed: </span><span id="total-workouts">{{ total_workouts_completed }}</span><br>
<span>Total Miles Completed: </span> <span id="total-miles"> {{ total_miles_completed }}</span><br>

  <div class="workouts-chart">
    <canvas id="donutChartWorkouts" height="50"></canvas>
    <div id="donutLegend" class="chart-legend"></div>
  <div>

  <div class="workouts-chart">
    <canvas id="donutChartMileage" height="50"></canvas>
    <div id="donutLegend" class="chart-legend"></div>
  <div>

<h4 id="plan-name-title">{{ plan.name }}</h4>
<button id="update-plan-name">Update Plan Name</button>

<form id="plan-name-change-box" action="/update-plan-name.json" method="POST">
  <input id="new-plan-name" placeholder="update plan name here" value="">
  <input id="plan-id" name="{{ plan.plan_id }}" hidden>
  <input type="submit" name="save" value="save"><br><br>
</form>
<p>Double click the date once you've completed a run to update your logs!</p>
<table id="plan-calendar" name="plan-calendar" border="1px" class="table table-bordered table-condensed">
  <thead id="plan-header">
    <tr>
      <th>Week</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody id="run-info-chart">
        {% for i in range(weeks_in_plan) %}
          <tr>
            <td>Week {{ i + 1 }}</td>
            {% for date in dates[(i)*7:7*(i+1)] %}
              {% if date in runs %}
                {% if runs[date]['is_completed'] == True %}
                  <td class="run completed-run" id="{{ runs[date]['run_id'] }}" name="{{ date }}">  {{ date.month }}/{{ date.day }}: <br><br><span class="miles">{{ runs[date]['distance'] }} miles</span></td>
                {% elif runs[date]['is_completed'] == False and date <= today_date %}
                  <td class="run incompleted-run old" id="{{ runs[date]['run_id'] }}" name="{{ date }}">  {{ date.month }}/{{ date.day }}: <br><br><span class="miles">{{ runs[date]['distance'] }} miles</span></td>
                {% else %}
                  <td class="run incompleted-run" id="{{ runs[date]['run_id'] }}" name="{{ date }}">  {{ date.month }}/{{ date.day }}: <br><br><span class="miles">{{ runs[date]['distance'] }} miles</span></td>
                {% endif %}  
              {% else %}    
                <td id="{{ date }}" class="off-day" name="{{ date }}">{{ date.month }}/{{ date.day }} <br><br>Off day!</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock %}

{% block javascript %}
  <script src="static/dashboard_charts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
{% endblock %}