{% extends 'base.html' %}
{% block title %}Runner Dashboard{% endblock %}
{% block content %}


<div id="runner-id" name="{{ plan.runner_id }}" hidden></div>
<form action="/logout-complete">
    <input type="submit" value="Logout" name="logout-button">
</form>

<form action="/account-settings">
    <input type="submit" value="Account Settings" name="account-settings-button">
</form>

<form action="/add-to-google-calendar" method="POST" id="add-to-google-calendar-form">
    <select id="time-zone" name="time-zone">
      <option value="Select your preferred timezone">Select your preferred timezone</option>
      <option value="Pacific/Honolulu">(GMT-10:00) Hawaii Time</option>
      <option value="America/Anchorage">(GMT-08:00) Alaska Time</option>
      <option value="America/Los_Angeles">(GMT-07:00) Pacific Time</option>
      <option value="America/Denver">(GMT-06:00) Mountain Time</option>
      <option value="America/Phoenix">(GMT-07:00) Mountain Time - Arizona</option>
      <option value="America/Chicago">(GMT-05:00) Central Time</option>
      <option value="America/New_York">(GMT-04:00) Eastern Time</option>
    </select>
    <select id="cal-run-start-time" name="cal-run-start-time">
      <option selected disabled value="Select your preferred start time">Select your preferred start time</option>
      {% for time in times[0:10] %}
        <option value="0{{ time }}:00">{{ time }}:00am</option>
      {% endfor %}
      {% for time in times[10:11] %}
        <option value="{{ time }}:00">{{ time }}:00am</option>
      {% endfor %}
      <option value="{{ times[11] }}:00">{{ times[11] }}:00pm</option>
      {% for time in times[12:23] %}
        <option value="{{ time }}:00">{{ time - 12 }}:00pm</option>
      {% endfor %}
      <option value="{{ times[23] }}:00">{{ times[23] - 12 }}:00am</option>
    </select>
    <input type="submit" value="Add Runs to Google Calendar" name="add-to-gcal-button">
</form>

<!-- <form action="/opt-into-weekly-emails">
    <input type="checkbox" id="opt-into-weekly-emails">
    <label>I would like to opt into weekly email run reminders</label>
</form>

<form action="/opt-into-text-reminders">
    <input type="checkbox" id="opt-in-for-texts">
    <label>I would like to opt into daily run reminders via text</label>
</form> -->
  {% if runner.is_subscribed_to_texts %}
    <button id="opt-out-of-texts-button">Opt Out of Texts</button>
  {% else %}
    <button id="opt-into-texts-button">Opt Into Daily Reminder Texts</button>
    <form action="/opt-into-text-reminders.json" method="POST" id="opt-in-for-texts-form">
      <label>Enter phone number with only numbers ex: 5555555555</label>
      <input type="text" id="phone-number" placeholder="phone number here" value="">
      <!-- <input type="text" id="phone-number" placeholder="phone number here" pattern="/\d{10}/"> -->
      <!-- <input id="runner-id" name="{{ plan.runner_id }}" hidden> -->
      <input type="submit" name="save" value="save"><br><br>
    </form>
  {% endif %}


<h1>Running Dashboard</h1>

{% if plan %}

<p>Countdown to Goal: {{ days_left_to_goal }} days</p>
<span>Total Workouts Completed: </span><span id="total-workouts">{{ total_workouts_completed }}</span><br>
<span>Total Miles Completed: </span> <span id="total-miles"> {{ total_miles_completed }}</span><br>

<h4 id="plan-name-title">{{ plan.name }}</h4>
<button id="update-plan-name">Update Plan Name</button>

<form id="plan-name-change-box" action="/update-plan-name.json" method="POST">
  <input id="new-plan-name" placeholder="update plan name here" value="">
  <input id="plan-id" name="{{ plan.plan_id }}" hidden>
  <input type="submit" name="save" value="save"><br><br>
</form>

<table id="plan-calendar" name="plan-calendar" border="1px">
  <thead id="plan-header">
    <tr>
      <th>Week</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody id="run-info-chart">
        {% for i in range(weeks_in_plan + 1) %}
          <tr>
            <td>Week {{ i + 1 }}</td>
            {% for date in dates[(i)*7:7*(i+1)] %}
              {% if date in runs %}
                {% if runs[date]['is_completed'] == True %}
                  <td><input type="checkbox" id="{{ runs[date]['run_id'] }}" value="{{ date }}" checked>  {{ date.month }}/{{ date.day }}: <br><br> {{ runs[date]['distance'] }} miles</td>
                {% else %}
                  <td><input type="checkbox" id="{{ runs[date]['run_id'] }}" value="{{ date }}">  {{ date.month }}/{{ date.day }}: <br><br> {{ runs[date]['distance'] }} miles</td>
                {% endif %}  
              {% else %}    
                <td id="{{ date }}" class="off-day">{{ date.month }}/{{ date.day }} <br><br>Off day!</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock %}